
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: var(--bs-body-color);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  margin-left: 1rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--bs-secondary-color);
}

.nav-masthead .active {
  color: var(--bs-body-color);
  border-bottom-color: var(--bs-body-color);
}
